@page
@model RegisterModel;
@using Utility;

@if (User.IsInRole(WC.AdminRole))
{
    <h1>Create an Admin account.</h1>
}
else
{
    <h1>Create a new account.</h1>
}

@{ViewData["Title"] = "Register"; }

<div class="row">
    <div class="col-md-4">
        <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.FullName"></label>
                <input asp-for="Input.FullName" class="form-control" />
                <span asp-validation-for="Input.FullName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email" class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.DefaultStoreId"></label>
                <select asp-for="Input.DefaultStoreId" asp-items="@Model.StoreSelectList" class="form-control">
                    <option disabled selected>--Select Default Store--</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Input.Password"></label>
                <input asp-for="Input.Password" class="form-control" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.ConfirmPassword"></label>
                <input asp-for="Input.ConfirmPassword" class="form-control" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            @if (User.IsInRole(WC.AdminRole))
            {
                <button type="submit" class="btn btn-warning">Register Admin User</button>
            }
            else
            {
                <button type="submit" class="btn btn-primary">Register</button>
            }
        </form>
    </div>
    <div class="col-md-6 col-md-offset-2">
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
